:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 350px;
}

h1, h2, h3 {
    text-align: center;
}

.summary {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.summary > div {
    flex: 1;
}

.summary p {
    font-size: 20px;
    margin: 5px 0;
}

.transaction-form h3, .transaction-history h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 20px 0 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input, .form-control select {
    width: 100%;
    padding: 8px;
    border: 1px solid #dedede;
    border-radius: 4px;
}

.btn {
    background-color: #9c88ff;
    color: #fff;
    border: 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.income {
    border-right: 5px solid #2ecc71;
}

.list li.expense {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}
